/* ------------------------------------- */
/* Validation on input, select, textarea */
/* ------------------------------------- */

.c-validation {
    color: (map-get($colors-basic, "red"));
}


/* MEDIA QUERIES */

@media only screen and (min-width: 319px) {
    .c-validation {
        font-size: .85rem;
        line-height: 0;
        margin-top: -.5rem;
    }
}

@media only screen and (min-width: 769px) {
    .c-validation {
        font-size: 1rem;
        line-height: 0;
        margin-top: .5rem;
    }
}

@media only screen and (min-width: 1080px) {
    .c-validation {
        font-size: .85rem;
        line-height: 0;
        margin-top: .35rem;
    }
}