.c-forgot-password {
    &__title {
        color: $color-h1;
        font-family: inherit;
        font-weight: 400;
        margin: 0 0 .25rem 0;
    }

    &__text {
        color: $color-text;
        font-family: inherit;
        font-weight: 400;

        margin-bottom: 1rem ;
    }

    &__button {
        background: (map-get($colors-basic, "blue"));
        color: (map-get($colors-basic, "white"));
        font-size: 1rem;
        font-weight: 400;

        border-radius: .625rem;

        cursor: pointer;

        &____align {
            display: block;
            justify-content: center !important;
        }
        
        &:hover {
            box-shadow: 0 0 .5rem $button-hover;
        }

        &:focus {
            border: 1px solid $button-focus;
        }
        
        &:active {
            background: $button-active;
        } 
    }

    &__to-login {
        all: unset;
        font-weight: 400;
        font-family: inherit;
        color: $link;

        cursor: pointer;

        &:active {
           color: $link-active; 
        }
    }
}


/* MEDIA QUERIES*/

@media only screen and (min-width: 319px) {
    .c-forgot-password  {
        &__title {    
            font-size: 1.125rem;
            line-height: 1.6875rem; 
            margin-bottom: .25rem;
        }
    
        &__text {
            font-size: 1rem;
            line-height: 1.5625rem;
        }

        &__button {
            padding: .5rem 1.5rem;
            margin-top: 1.25rem;
            margin-bottom: 2.75rem;
        }
    
        &__to-login {
            font-size: 1rem;
            line-height: 1.5625rem;
        }
    }
}

@media only screen and (min-width: 769px) {
    .c-forgot-password  {
        &__title {    
            font-size: 2rem;
            line-height: 2.1875rem;
            margin-bottom: .5rem;
        }
    
        &__text {
            font-size: 1.1875rem;
            line-height: 1.8125rem;
        }

        &__button {
            margin-top: 1rem;
            padding: .5rem 2.5625rem;
        }
        
        &__to-login {
            font-size: 1rem;
            line-height: 1.5625rem;
        }
    }
}